################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CWESADX2/.vs/CWESADX2/v16
/CWESADX2/Release
